body {
  background: $gray-darker;
  color: $gray-lighter;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  line-height: 1.6em;
  text-shadow: none;
}

/*===========================
  --- Site header & branding ----
=========================== */

.site-header {
  background: $delving-blue-dark;
  padding: 10px 0;
}

.site-branding {
  float: left;
  a {
    color: $white;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    vertical-align: middle;
    margin-right: 10px;
  }
}

.site-nav {
  text-align: right;
  //margin-top: 25px;

}


/*===========================
  --- Site navigation ----
=========================== */

.site-nav {
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $white;
    padding-left: 10px;
  }

  .nav-list {
    margin: 15px 0 0 0;
    li {
      display: inline-block;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 18px;
    z-index: 10000;
    right: $spacing-unit / 2;
    background-color: $white;
    border-radius: 4px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      line-height: 0;
      padding: 4px 8px;
      text-align: center;
      > svg {
        width: 24px;
        height: 24px;

        path {
          fill: $delving-blue;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
    }

    .nav-list li {
      display: block;
      clear: both;
    }

    .page-link {
      display: block;
      color: $delving-blue;
      padding: 5px 10px;
      //background: green;
    }
  }
}

/*===========================
  --- Section basics ----
=========================== */

.section {
  margin: 0;
  padding: 60px 0 60px 0;
  @media (max-width: 1000px) {
    padding: 30px 0 30px 0;
  }
  &.thick {
    padding: 100px 0 100px 0;
  }
  .section-icon {
    font-size: 5em;
    text-align: center;
  }
  .section-heading {
  font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .section-sub-heading {
    font-weight: 100;
    //    margin-top: 0px;
    text-align: center;
    font-size: 140%;
  }
}

/*===========================
  --- Intro section ----
=========================== */

.intro {
  text-align: center;
}

/*===========================
  --- Services section ----
=========================== */

.services {
  background: $section-services-bg;
  text-align: center;
  .section-icon {
    @include icon-circle($delving-blue, $gray-lighter, 80px, 148px);
    border: 1px solid $white;
  }

  .body {
    color: $gray-lighter;
  }
  .service {
    margin-bottom: 40px;
    @media (min-width: 1000px) {
      margin-bottom: 0px;
    }
  }
}

/*===========================
  --- Open-source section ----
=========================== */

.open-source {
  background: $section-open-source-bg;
  text-align: center;
  // svg icon
  .icon {
    > svg {
      display: inline-block;
      width: 148px;
      height: 148px;
      vertical-align: middle;
      path {
        fill: $gray-light;
      }
    }
  }
}

/*===========================
  --- Articles section ----
=========================== */

.articles {
  background: $section-articles-bg;
  color: $gray-lighter;
  text-align: center;
  .section-icon {
    @include icon-circle($gray-light, $gray-darker, 80px, 148px);
  }
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: px;
  }
}

.post-meta {
  color: $gray-light;
  margin-right: 10px;
}

.post-link {
  color: $gray-lighter;
}

/*===========================
  --- Section contact ----
=========================== */

.contact {
  background: $section-contact-bg;
  text-align: center;
  .section-icon {
    @include icon-circle($section-contact-bg, $gray-lighter, 80px, 150px);
    border: 1px solid $gray-lighter;
  }
  address a {
    color: $delving-blue-light;
  }
}

/*===========================
  --- Section navigation ----
=========================== */

.section-nav {
  &.navbar {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 40px;
    border: none;
  }
  a {
    color: $white;
    display: block;
    @include border-radius(0px 0px 8px 8px);
    width: 100px;
    padding: 0 0 4px;
    text-align: center;
    font-size: 1.5em;
  }
  &.intro {
    background: $section-services-bg;
    a {
      background: $section-intro-bg;
    }
  }
  &.services {
    background: $section-open-source-bg;
    a {
      background: $section-services-bg;
    }
  }
  &.open-source {
    background: $section-articles-bg;
    a {
      background: $section-open-source-bg;
    }
  }
  &.articles {
    background: $section-contact-bg;
    a {
      background: $section-articles-bg;
    }
  }
  &.contact {
    background: $section-articles-bg;
    a {
      background: $section-contact-bg;
    }
  }
}

/*===========================
  --- Footer ----
=========================== */

.site-footer {
  padding: 20px 0;
}